.card {
    background-color: #fff;
    width: 130px;
    height: 130px;
    padding: 20px;
    border-radius: 10px;
    
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.79);
}

.title {
    font-size: 1rem;
    display: inline;
    align-items: center;
}