.root{
    --header-height: 4.5rem;
  
    /* Colors */
    --hue: 159;
    /* HSL color mode*/
    --base-color: hsl(159 36% 57%);
    --base-color-second: hsl(159 65% 88%);
    --base-color-alt: hsl(159 57% 53%);
    --title-color: hsl(159 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl( 0 0% 98%);
    --body-color: hsl(0 0% 98%);
  
    /* Fonts Size */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
  
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
  }
  

  .header{
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    display: flex;
  
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: hsl(0 0% 98%);
  }
  
.title {
    font: 700 1.875rem 'Poppins', sans-serif;
    color: hsl(159 41% 10%);
    -webkit-font-smoothing: auto;
  }

/* NAV */
.nav {
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  

.menu {
    opacity: 1;
    visibility: visible;
    top: 0;
}

.ul {
    display: flex;
    gap: 2rem;
}

.li {
    list-style-type: none
}
  
.title {
    font: 400 1rem 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
}